@import "fonts/fonts.scss";

$font: 'Hind Siliguri';
$font-color: rgb(77,73,73);
$main-color: rgb(77,73,73);
$post-background: rgb(252,246,246);
$info-bar-text-color: rgb(129,129,129);
$grey-button-color: rgb(77,73,73);
$grey-button-text-color: rgb(255,255,255);
$light-button-hover-bg-color: rgb(77,73,73);