@use "_variables";
@import "main.blocks/header.scss";
@import "main.blocks/footer.scss";
@import "common.blocks/info_bar.scss";
@import "common.blocks/button.scss";

html,
body {
	margin: 0;
	padding: 0;
	color: _variables.$font-color;
	font-family: _variables.$font;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.title-section {
	margin-bottom: 30px;

	&__border {
		position: relative;
		height: 7px;
  		width: 46px;
  		border: 1px solid _variables.$main-color;
  		margin: auto;
  		border-top: none;
	}
	
	&__border::before {
		content: '';
		position: absolute;
		border-bottom: 1px solid _variables.$main-color;
		width: 2px;
    	left: -2px;
	}

	&__border::after {
		content: '';
		position: absolute;
		border-bottom: 1px solid _variables.$main-color;
		width: 2px;
    	right: -2px;
	}
	
	&__headline {
		margin: 45px 0 0 0;
	}
	
	&__heading {
		margin: 0 0 3px 0;
		font-size: 24px;
	  	font-weight: 600;
	  	letter-spacing: 0;
	  	line-height: 39px;
	}

	&__search {
		display: flex;
		justify-content: flex-end;
	}

	&__input {
		background-image: url('../img/UI-Kit-module-8/atoms/icon/a-icon-search-1.svg');
		background-repeat: no-repeat;
		background-position: right 5% center;
		margin: 55px 0 0 0;
		padding-left: 9px;
		border-color: _variables.$main-color;
		color: _variables.$font-color;
		max-width: 320px;
		min-height: 45px;
  		font-size: 15px;
  		letter-spacing: 0;
  		line-height: 25px;
	}
}

.posts {
	z-index: 2;

	&__button-wrap {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0 0 80px 0;
	}

	.post {
		background-color: _variables.$post-background;
		margin: 0 0 50px 0;
		position: relative;

		&--shadow::after {
			content: '';
			border: 1px solid rgba(0, 0, 0);
			display: block;
			position: absolute;
		    right: 6%;
		    bottom: 5px;
		    width: 1030px;
		    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.8);
		    z-index: -1;
		}

		&__image-wrap {
			max-width: 560px;
			position: relative;
		
			&--video {

				&::before {
					content: url('../img/UI-Kit-module-8/atoms/icon/a-icon-play.svg');
					position: absolute;
					top: 40%;
					right: 44%;
					height: 72px;
  					width: 72px;
				}
			}

			img {
				height: 100%;
			}
		}

		&--text {
			background-color: _variables.$post-background;
			position: relative;
			margin: 0 0 60px 0;
			min-height: 379px;
		}
	}

	.content {

		padding-left: 40px; 

		&__headline {
			display: flex;
			align-items: flex-end;
			margin: 0 0 40px 0;
		}

		&__info-wrap {
			margin: 7px 0 0 0;
		}

		&__avatar {
			margin: 0 15px 2px 0;
			display: inline-block;
			width: 52px;
			height: 52px;
			border-radius: 50%;
		}

		&__name {
			display: inline-block;
			font-size: 17px;
			font-weight: 500;
			letter-spacing: 0;
			line-height: 28px;
		}

		&__title {
			margin: 0 0 15px 0;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0;
			line-height: 26px;
		}

		.content__corner-icon {
			display: none;
		}

		&__text {
			margin: 0 0 30px 0;
			max-width: 460px;
			font-size: 17px;
			letter-spacing: 0;
			line-height: 26px;
			overflow-wrap: break-word;

			&--description {
				max-width: 1033px;
			}
		}

		&--text {
			padding-left: 27px;
		}

		&__audio {
			margin: 5px 0 3px 0;
			height: 37px;
			width: 214px;
		}

		&__corner-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 76px;
			width: 84px;
			border: 3px solid rgb(255,255,255);
			border-radius: 5px;
			background-color: rgb(252,246,246);
			position: absolute;
			top: -3px;
			right: -3px;

			&--video {
				background: url('../img/UI-Kit-module-8/atoms/icon/a-icon-playmini.svg');
				background-position: center;
				background-size: 40px;
				background-repeat: no-repeat;
			}

			&--audio {
				background: url('../img/UI-Kit-module-8/atoms/icon/a-icon-melody.svg');
				background-position: center;
				background-size: 40px;
				background-repeat: no-repeat;
			}

			&--picture {
				background: url('../img/UI-Kit-module-8/atoms/icon/a-icon-picture.svg');
				background-position: center;
				background-size: 40px;
				background-repeat: no-repeat;
			}

			&--text {
				background: url('../img/UI-Kit-module-8/atoms/icon/a-icon-text.svg');
				background-position: center;
				background-size: 40px;
				background-repeat: no-repeat;
			}
		}
	}
}

@media (min-width: 1200px) {
	.title-section,
	.posts,
	.title-section__headline,
	.footer__body {
		max-width: 1160px;
	}
}

@media (max-width: 1200px) {
	.posts .post--shadow::after {
		display: none;
	}

	.title-section__headline {
		margin: 0 auto;
		margin-top: 30px;
	}

	.info__stars {
		display: block;
		margin-left: 0;
	}
}

@media (max-width: 990px) {

	#navbarToggler ul {
		min-width: 100px;
	}

	#new-post-btn {
		margin-right: 37px;
	}

	.info__stars {
		display: inline;
	}

}

@media (max-width: 768px) {

	.post > .content__corner-icon {
		display: none;
	}

	#corner-icon {
		display: block;
		top: 0;
	}
}

@media (max-width: 576px) {

	.posts .content__info-wrap,
	.posts .content__headline {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.post .post__content {
		padding: 15px; 
	}

	.posts .post__image-wrap--video::before {
		right: 39%;
	}

	#corner-icon {
		display: none;
	}
}
