#root {
	position: relative;
}
li {
	list-style-type: none;
	position: relative;
}
.hover:hover::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 27px;
	opacity: .3;
	background-color: rgb(59,59,59);
}

.folderIcon {
	color: rgb(237,188,11);
}
.fileIcon {
	color: rgb(175,175,175);
}
.empty-folder-node {
	font-style: italic;
}
.hidden {
	display: none;
}
.folder:hover,
.file:hover {
	cursor: pointer;
}
.context-menu {
	margin: 0;
	padding: 5px;
	list-style: none;
	position: fixed;
	background: rgb(255,255,255);
	border-radius: 3px;
	border: 1px solid rgb(230,230,230);
	display: none;
	width: 100px;
	height: 50px;
	cursor: pointer;
	box-sizing: border-box;
}

.context-menu li:hover {
	background-color: rgb(230,230,230);
}
.context-menu.active{
	display: block;
}
.context-menu li {

}